/* *{
    /* border: 2px solid red; */
}
/* .ou{
    height: 400px;
}
.para{
    font-size: 0,5rem;
}
.joo{
    position: relative;
}
.jo{
   position: absolute; 
   bottom: 13px;
   right: 90px;
} */

/*----------Bakeli----------*/

/* .noo h5{
    color: white;
    font-size: 17px;
}
.noo h2{
    font-size: 23px;
} */

/*--------------Nos Cours---------------*/
 */
